<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Opdracht Partials</title>
  </head>

  <body>
    <h1>SASS handout</h1>
    <p>https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4</p>
    <p>https://itnext.io/starting-with-sass-116f4ecb682d</p>
    <p>DRY: Don't repeat css</p>
    <button class="button">Press me!</button>
  </body>
</html>
